*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-principal:#584738;
  --color-secondary:#4c583e;
  --color-terciary:#B59E7D;
  --color-fourth:#959581;
  --color-fifth:#f1eada;
}
body{
  background-color: var(--color-fifth);
}
a{
  text-decoration: none;
}
/* HEADER */
.Logo{
  width: 4em;
  margin:-0.8em;
}
.d-flex, .navtext{
  margin-right: 5em;
}
.form-control, .me-2{
  width: 16em;
}
.navbar, .navbar-expand-lg, .bg-body-tertiary{
  background-image: linear-gradient(to bottom,#2c3424,#4c583e); 
}
.nav-item, .navbar-brand, .nav-link, .active, .nav-item, .navtext{
  color: var(--color-fifth);
}
.btn, .btn-outline-success{
  background-color: var(--color-terciary);
  color:var(--color-fifth);
  border: none;
}
.btn:hover, .btn-outline-success:hover{
  background-color: var(--color-principal);
  color: var(--color-fifth);
}
.BtnContacto{
  background-color: var(--color-principal);
  color: var(--color-fifth);
  padding: 0.4em;
  position: relative;
  left: 1em;
}
/* LOGO DE LOGIN */
svg{
  width: 2.3em;
  margin-right: -1em;
}
.TextEmerLogin{
  display: none;
  position: absolute;
  list-style: none;
  top: 10vh;
  right: 35vh;
}
.TextEmerLogin li{
  width: 5em;
  height: 5vh;
  text-align: center;
  border: 1px solid var(--color-principal);
  border-radius: 2vh 0.3vh ;
  background-color: var(--color-fifth);
  color: var(--color-secondary);
}
.TextEmerLogin li:hover{
  background-color: #235699;
  color: white;
}
.nav-item:hover .TextEmerLogin{
  display: block;
  
}

/* MAIN */
article{
  margin: 40px;
  border-bottom: 1px solid var(--color-principal);
}

h2, h4, p{
  margin: 20px;
  text-align: center;
}

.img{
  width: 20rem;
  border-radius: 3rem;
}

.contenedor {
  margin: 20px;
}


